body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.bg-custom-nav {
      /* background-color: #2b5497 !important; */
      
      background-color: #2b5497  !important;
      /* background-color: #769FB6; */
}
.bg-custom-body{
  height:2000px;
  /* background-color: #5D737E; */
  background-color: #f4f7f5
}